.clock2 {
  display:flex;
  width: 75%;
  padding-bottom: 20%;
  position: relative;
  background-size: cover;
  box-shadow: 10px 10px 20px rgba(0.25, 0.25, 0.25, 0.25);
  border: 20px solid #808080;
  background: #403e3e;
  justify-items: center;
  font-family: "digital", serif;
  top: 18%;
  margin: 0 auto;

}

.time {
  display:flex;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 100px;
  position:absolute;
  justify-content: center;
  align-items:center;
  color:	#DCDCDC;
  /*margin-top: 10%;*/
}

@media (max-width: 1040px) {
  .time {
    font-size: 50px;
  }
}

@font-face {
  font-family: "digital";
  src: url('../../../../../../../cv-app/src/assets/digital-7.ttf');
}

@media (max-width: 680px) {
  .time {
    font-size: 45px;
    /*margin-top: 0%;*/
  }
}
