<div class="container">
  <div class="title">
    <img class="bg_title" src="../../../../../assets/bg_title.png" alt="Selected Image">
    <div class="textOfTitle"><h3>SKILLS</h3></div>
  </div>
  <div class="text">
    <ul>
      <li><p> HTML & CSS </p></li>
      <li><p> JavaScript, TypeScript, OPP</p></li>
      <li><p> WebStorm, Visual Studio Code</p></li>
      <li><p> Base of C++, C#</p></li>
      <li><p> had experience working with React Native</p></li>
    </ul>
    <ul>
      <li><p> Git & GitHub</p></li>
      <li><p> Jira, Confluence</p></li>
      <li><p> Angular</p></li>
      <li><p> Figma</p></li>
      <li><p> English (B1)</p></li>
    </ul>
  </div>

</div>
