<div class="container">
  <div class="title">
    <img class="bg_title" src="../../../../../assets/bg_title.png" alt="Selected Image">
    <div class="textOfTitle"><h3>ABOUT ME</h3></div>
  </div>
  <div class="text">
    <p >My name is Iryna!
      I like reading books and just walking. I really like the field of programming.
      Especially when you work on something for a long time and yet the result turned out exactly as you expected.
      It motivates to learn and create something new.Overall, I'm a communicative and responsible person who knows how to set goals and achieve them.
      I firmly believe that an employee with my qualities would be a valuable addition to your team.</p>
  </div>
</div>

