<div class="container">
  <div class="title">
    <img class="bg_title" src="../../../../../assets/bg_title.png" alt="Selected Image">
    <div class="textOfTitle"><h3>MY PROJECTS</h3></div>
  </div>
  <div class="text">

            <div>
                <div class="lineOfProject">
                    <img class="projectImg" src="../../../../../assets/time.png" alt="">
                    <li><a routerLink="/clock">Clocks</a></li>
                </div>
                <div>
                     <p class="description">You can see two types of clocks namely analog and digital.</p>
                </div>
            </div>
            <div>
                 <div class="lineOfProject">
                     <img class="projectImg" src="../../../../../assets/todo-list.png" alt="">
                     <li><a routerLink="/todo-list">To-Do List</a></li>
                 </div>
                 <div>
                     <p class="description">You can create, edit and delete your cases list.</p>
                 </div>
            </div>
            <div>
                  <div class="lineOfProject">
                      <img class="projectImg" src="../../../../../assets/calculator.png" alt="">
                      <li><a routerLink="/calculator">Calculator</a></li>
                  </div>
                  <div>
                      <p class="description">In this project, you can perform mathematical operations, as on a real calculator.</p>
                  </div>
            </div>
            <div>
                  <div class="lineOfProject">
                      <img class="projectImg" src="../../../../../assets/movies.png" alt="">
                      <li><a routerLink="/movies">Movies</a></li>
                  </div>
                  <div>
                       <p class="description">Here you can watch the description of new movies and the trailer for the newest ones.</p>
                  </div>
            </div>
            <div>
                  <div class="lineOfProject">
                      <img class="projectImg" src="../../../../../assets/game.png" alt="">
                      <li><a routerLink="/game">Game</a></li>
                  </div>
                  <div>
                      <p class="description">Here you can play snake</p>
                  </div>
            </div>
      </div>
</div>

