<div class="container">
  <div class="title">
    <h1 class="myName">IRYNA HRECHYN</h1>
    <h3 class="description">Junior front-end developer</h3>

    <div class="column">
      <div class="connecting">
        <div class="line">
          <img class="icon2" src="../../../../../assets/number.png" alt="myphone">
          <p>+380 987 209 486</p>
        </div>
        <div class="line">
          <img class="icon2" src="../../../../../assets/email.png" alt="myphone">

          <p>hrechyniryna@gmail.com</p>
        </div>
        <div>
          <a class="line" href="https://www.instagram.com/iryna.hrechyn" target="_blank">
            <img class="icon2" src="../../../../../assets/instagram.png" alt="Instagram">
            <p>iryna.hrechyn</p>
         </a>
        </div>
          <div>
           <a class="line" href="https://t.me/irynaa_Hr" target="_blank">
            <img class="icon2" src="../../../../../assets/telegram.png" alt="Telegram">
            <p>@irynaa_Hr</p>
          </a>
          </div>
       </div>
    </div>
  </div>

  <div class="photo">
    <div class="back_of_photo">
      <div class="rectangle"></div>
      <img class="myImg" src="../../../../../assets/me1.png" alt="">
      <img src="../../../../../assets/back.png" class="back" alt="">
    </div>
  </div>

</div>
