<div class="container">
  <div class="title">
    <img class="bg_title" src="../../../assets/bg_title.png" alt="Selected Image">
    <div class="textOfTitle"><h3>EDUCATION</h3></div>
  </div>
  <div class="text">
    <h4 class="top-h4">2021</h4>
    <h4> ▶ Prykarpattia National University named after Vasyl Stefanyk</h4>
    <p>I am currently a third-year student,
      studying at the Faculty of Mathematics and Informatics, majoring in Information Systems and Technologies.</p>

    <h4 class="year">2023-2024</h4>
    <h4> ▶ Individual senior developer course</h4>
    <p>Completed front-end development courses.</p>

    <h4 class="year">2023-2024</h4>
    <h4> ▶ English language course Project 12 </h4>
    <p>I have successfully completed B1 level English language courses and continue to study it independently.
  </div>
</div>
