<header class="header">
 <div class="headerContainer">
   <a class="logo" href="#"><img class="headerImg" alt="" src="../../../../../assets/home.png"></a>
   <div class="menu">
     <ul>
       <div class="app_header">
         <img class="headerImg" src="../../../../../assets/time.png" alt="">
       <li><a routerLink="/clock">Clocks</a></li>
       </div>
       <div class="app_header">
         <img class="headerImg" src="../../../../../assets/todo-list.png" alt="">
       <li><a routerLink="/todo-list">To-Do List</a></li>
       </div>
       <div class="app_header">
         <img class="headerImg" src="../../../../../assets/calculator.png" alt="">
       <li><a routerLink="/calculator">Calculator</a></li>
       </div>
       <div class="app_header">
         <img class="headerImg" src="../../../../../assets/movies.png" alt="">
       <li><a routerLink="/movies">Movies</a></li>
         <div class="app_header">
           <img class="headerImg" src="../../../../../assets/game.png" alt="">
           <li><a routerLink="/game">Game</a></li>
         </div>
       </div>
     </ul>
   </div>
 </div>
</header>
