.pagination {
  display: flex;
  margin-bottom: 17px;
  justify-content: center;
  text-shadow: 0 0 10px #000;

}

.pagination span {
  display: block;
  color: black;
  padding: 8px 16px;
  margin: 1px;
  border-radius: 5px;

}

.pagination span.active {
  background-color: #4f4f4f;
  color: #cccccc;

}

.pagination span:hover {
  background: rgb(241, 169, 69);
  color: black;
}
