* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(34, 34, 37, 0.91);
  display: flex;
  justify-content: center;

}

.main-container {
  width: 100vw;
  max-width: 1200px;
  min-height: calc(100vh - 50px);
  margin: 25px 0;
  background-color: #3f3d3d;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  overflow: hidden;
}

.bg{
  background-image: url("/assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 43vh;
}
@media (max-width: 1020px) {
  .film-card {
    width: calc(33.333333333333% - 20px);
  }

}

@media (max-width: 680px) {
  .film-card {
    width: calc(50% - 20px);
  }

  .header {
    flex-direction: column;
    align-items: center;
  }

  .search-container {
    margin-left: 35px;
  }

  .search {
    width: calc(100% - 10px);
  }

  .pagination {
    display: flex;
    justify-content: center;
    background: #000;
  }
}

@media (max-width: 530px) {
  .main-container {
    background: #000;
  }
  .film-card {
    width: calc(100% - 20px);
  }

  .header {
    flex-direction: column;
    align-items: center;
  }

  .search-container {
    margin-left: 10px;
  }

  .search {
    width: calc(100% - 20px);
  }

  .pagination {
    display: flex;
    justify-content: center;
  }

  .modal-image {
    margin-top: 20px;
  }
}

.noResult {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 18px;
  color: #cccccc;
}
